- const lang = path.split('/')[0] === '.' ? path.split('/')[1] : path.split('/')[0]
- const strings = site.strings[lang]
- const languages = site.languages.filter(l => l !== lang)
- const find_support = strings ? strings.support : "Find Support"
- const about = strings ? strings.about : "About"
- const self_care = strings ? strings["self-care"] : "Self Care"
#menu.pure-g.custom-wrapper
  .pure-u-1.pure-u-md-1-3
    .pure-menu
      a.pure-menu-heading.custom-brand(href=site.baseurl + '/' + lang, alt=site.title)
        img(src=site.baseurl + '/images/logo.svg', height=42) 
      a#toggle.custom-toggle(href='#')
        s.bar
        s.bar
  .pure-u-1.pure-u-md-2-3
    .pure-menu.pure-menu-horizontal.custom-menu-3.custom-can-transform
      ul.pure-menu-list
        li.pure-menu-item
          a.pure-menu-link(href=site.baseurl + '/' + lang + '/support/')= find_support
        li.pure-menu-item
          a.pure-menu-link(href=site.baseurl + '/' + lang + '/about/')= about
        li.pure-menu-item
          a.pure-menu-link(href=site.baseurl + '/' + lang + '/self-care/')= self_care
        li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
          a#menuLink1.pure-menu-link(href=site.baseurl + `/${lang}/`)!= `[${lang}]`
          ul.pure-menu-children
            each language in languages
              li.pure-menu-item
                a.pure-menu-link(href=site.baseurl + `/${language}/`)!= `[${language}]`
